---
---

@media (max-width: 450px) {
  .hide-small { display: none !important; } 
}

@media (min-width: 450px) {
  .hide-big { display: none !important; } 
}

blockquote { text-align: right; }

a.uncolored {
  color: inherit;
  text-decoration: none;
}

a.edit_link_gh { 
  font-size: 80%; 
  color: #3f3f3f;
}
table { 
  text-align: inherit;  
  margin-bottom: 0px !important;
}
table th, table td { text-align: initial; }

blockquote {
  border-left:none !important;
  position: relative;
  padding-left: 0.5em;
  position: relative;
  padding: 1.5em;
  line-height: 1.9em;
  min-height: 2em;
  border-right: 3px solid #dedede;
  background-color: #f7f7f7;
  color: #3f3f3f;
  font-size: 17px; 
  line-height: 1.75em; 
  direction: rtl; 
  text-align: right;
}

cite {
  margin: 10px 0 70% 0 36px;
  font-size: 14px;
  font-style:normal;
  display: block;
  margin-top: 5px;
}

cite a {
  color: inherit;
}