<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "he" }}" dir="rtl">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1 align="center"><a class="uncolored" href="/"/>{{ site.name }}</a></a></h1>
        <div class="editable_heading">
          <h2 style="display: inline;">{{ page.title }}</h2>
          {% if page.url != '/' %}
          <a class="edit_link_gh" href="https://github.com/quo-il/quo-il/edit/master/{{ page.path }}">לעריכת עמוד זה</a>
        </div>
        {% endif %}
        {% if page.url != '/' and page.image != null and page.image != '/favicon.png' %}
        <img class="main_image" src="{{ page.image }}" alt="תמונה של {{ page.title | escape }}">
        {% endif %}
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>